<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49496621599-00ccfa4o8vlmgc6q854t1a5qotljjja6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49496621599-00ccfa4o8vlmgc6q854t1a5qotljjja6</string>
	<key>API_KEY</key>
	<string>AIzaSyADN5ob5IVdab_xI6KIXCQkSDE0IRWnZWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>49496621599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ika.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ed3dd</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ed3dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49496621599:ios:6549dec9428d1ba4d54b2a</string>
</dict>
</plist>