<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894010808166-nq9kg3s4cdofgv6sq7bh0qfnnpei0ei3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894010808166-nq9kg3s4cdofgv6sq7bh0qfnnpei0ei3</string>
	<key>API_KEY</key>
	<string>AIzaSyDH2Y1O0G_EO7TupxH1qaE3_qKvJpzTcIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>894010808166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ika.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-6dd23</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-6dd23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894010808166:ios:a41f22b6cda0ad779e1aa7</string>
</dict>
</plist>